# Credentials
.env
.env.*
*.key
kaggle.json
*_credentials.json
service-account*.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.egg

# Virtual Environments
venv/
.venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data & Database Files (Excluded)
data/raw/*
data/processed/*
*.db
*.sqlite
*.sqlite3

# Explicitly Track Visualizations & Figures in Git
!data/processed/*.png

# OS Cruft
.DS_Store
Thumbs.db

# Editor Cruft
.vscode/
.idea/
