# Credentials
.env
.env.*
*.key
kaggle.json
*_credentials.json
service-account*.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
*.egg

# Virtual Environments
venv/
.venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# Databases
*.db
*.sqlite
*.sqlite3

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS Cruft
.DS_Store
Thumbs.db

# Editor Cruft
.vscode/
.idea/
